/* ==========================================================================
   Header
   ========================================================================== */

.header{
	margin-bottom: 1em;
	@extend %clearfix;
}

.header__logo{
	width: 250px;
	height: 100px;
	background-color: $bluegrey;
}