h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 .7em;
}

h1{
    font-size: 3em;
    line-height: 1.25;
}

h2{
    font-size: 2.25em;
}

h3{
    font-size: 1.75em;
}

h4 {
    font-size: 1.125em;
}

h5{}

h6{}

p{
    font-size: 1.6em; // 24px
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5em;
    hyphenate: auto;
    hyphenate-lines: 3;
}

p:first-child{
    text-indent: 2em;
}


.author{
    font-size: .9em;
    font-weight: 400;
    font-style: italic;
    margin: -1.25em 0 0; 
    text-indent: 0;
}

.intro{}



blockquote {
    font-size: 1.25em;
    line-height: 1.5;
    border-left: 4px solid #ccc;
    padding-left: 1em;
    margin: 0;
    margin-bottom: 1.5em;
}

blockquote:before {
    content: "\201C";
    display: inline-block;
    padding-right: .4em;
}

blockquote:after {
    content: "\201C";
    display: inline-block;
    padding-left: .4em;
}


abbr{
    letter-spacing: 0.1em;
}


code, pre {   
    font-family: monospace, serif;
    font-size: 1em; 
}


// Lists --------------------------------

ul, ol {
    margin-bottom: 1.5em;
}


//Links ---------------------------------

a,
a:visited {   
    color: $bluegrey;
    text-decoration: none;
 }
a:hover {   
    text-decoration: none; 
}

a:active {   
    color: tomato;      
}

a:focus {   
    border: 1px dotted tomato;
}



hr {
    height: .02em;
    border: none;
    background: $mediumgrey;
    margin: 2em 0;
    outline: none;
    display: block;
    clear: both;
    width: 100%;
    min-height: 1px;
}