    // Variables ----------------------------

    $defaultFontFamily: 'Open Sans', sans-serif;
    $body-background-color: #ffffff;

    // Container ----------------------------

    $container-width: 75em;
    $container-margin-top: 100px;

    // Grid ---------------------------------

    $grid-padding: 1.25em;
	$col-margin: 1%;
	$cols: 12;

	// Responsive Breakpoints ---------------

	$sm-bp: 20em; //320px
	$med-bp: 48em; //768px
	$lrg-bp: 65em; //1040px
	$extlrg-bp: 75em; //1200px

	// Colours -------------------------------

	$darkgrey: #3e3e3e;
	$lightgrey: #ecf0f1;
	$mediumgrey: #bdc3c7;
	$bluegrey: #7f8c8d;
	$white: #ffffff;

	// Header -------------------------------
	
	$headerFontFamily: "LibbyHeavy", Arial, sans-serif;


	//Navigation -----------------------------------

	$navFontFamily: "Trebuchet MS", Helvetica, sans-serif;
	$linkColor: #666666;
	$linkHover: #E67E22; // Orange -> #E67E22	


